*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html
{
    width: 500px;
    padding: 1%;
}
body{
    background-color: rgb(112, 120, 236);
    color: white;
    overflow: auto;

}
#react-target{
    width: 100%;
    border-radius: 15px;
}
.simulation-container{
    width: 100%; /* Adjust the percentage or use a fixed width */
    margin: 0 auto; /* Center the container horizontally */
}
.title{
    font-size: x-large;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
}
.simulation-container h2{
    font-size: 1.2rem;
}
.types{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}
.types .type{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.types div label{
    font-size: large;
}

.simulation-container .buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2px;
    align-items: center;
    width: 100%;
    margin-bottom: 5px;
}
.textSettingsContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
.textSettingsContainer .applyButton{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.simulation-container .buttons .start,
.simulation-container .buttons .stop,
.simulation-container .buttons .aids,
.speakButtons .speak,
.speakButtons .dont_speak,
.speakButtons .pause,
.speakButtons .play,
.textSettingsContainer .applyButton .applyChanges,
.textSettingsContainer .applyButton .cancelChanges{

    text-align: center;
    color: white;
    border: 2px solid white;
    box-shadow: inset 0px 5px 5px 2px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 2%;
    width: 50%;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-size: 1.2rem;
}
.simulation-container .difficutly{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.simulation-container .difficutly .minValue{
    margin-right: 2%;
}
.simulation-container .difficutly .maxValue{
    margin-left: 2%;
}
.separateLine{
    border-radius: 15px;
    width: 100%;
    height: 5px;
    background-color: white;
    margin-top: 20px;
    margin-bottom: 10px;

}
.simulation-container .description{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    margin: auto;
    margin-bottom: 20px;
}
.speakButtons  .speak .speakButtons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.speakButtons  .speak .speakButton{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.back{
    background: none;
    border: none;
    cursor: pointer;
}
.speakButtons  .speak .speakButton img
{
    width: 30px;
}

.back img{
    width: 100px;
}
.simulation-container .description p{
    width: 100%;
    text-align: start;
    font-size: 1.2rem;
}
.simulation-container .buttons .start,
.speakButtons .speak,
.speakButtons .play,
.textSettingsContainer .applyButton .applyChanges{
    background-color: rgb(2, 183, 99);
}
.simulation-container .buttons .stop,
.speakButtons .dont_speak,
.speakButtons .pause,
.textSettingsContainer .applyButton .cancelChanges{
    background-color: rgb(215, 86, 86);
}
.simulation-container .buttons .aids{
    background-color: rgb(1, 122, 255);
}
.simulation-container .hide{
    display: none;
}

.avaialbleAids{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.avaialbleAids button{
    color: white;
    box-shadow: inset 0px 5px 5px 2px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 2%;
    width: 50%;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-size: 1.2rem;
    background-color: rgb(1, 122, 255);
}
.avaialbleAids .selectedAid{
    border: 2px solid white;
    transition: all 0.3s ease-in-out;
} 

.speakButtons .speakSettings,
.speakButtons .textSettings{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}
.speakButtons .speakSettings .language,
.speakButtons .speakSettings .speed,
.speakButtons .speakSettings .highligt,
.speakButtons .speakSettings .textAreaInput,
.textSettings .selectedTextColor,
.textSettings .selectedFontType,
.textSettings .selectedTextFont,
.textSettings .spaceBetweenLines,
.textSettings .previewText{
    margin-bottom: 10px;
}
.speakButtons .speakSettings .language p,
.speakButtons .speakSettings .speed p,
.speakButtons .speakSettings .highligt p,
.speakButtons .speakSettings .textAreaInput p,
.textSettings .selectedTextColor p,
.textSettings .selectedTextFont p,
.textSettings .selectedFontType p,
.textSettings .spaceBetweenLines p{
    font-size: 1.2rem;
}
.speakButtons .speakSettings .textAreaInput textarea{
    width: 100%;
    min-height: 100px;
    max-height: 300px;
    padding: 1%;
    font-size: large;
    border: 2px solid white;
    border-radius: 12px;
    resize: vertical;
}

.speakButtons .speakSettings .highligt input,
.textSettings input{
    padding: 2%;
    border-radius: 15px;
    width: 100%;
    border: 2px solid white;
}
.textSettings input{
    width: 50%;
}
.speakButtons .speakSettings .language select,
.textSettings select{
    width: 50%;
    border-radius: 15px;
    border: 2px solid white;
}
.speakButtons .speakSettings .speed input{
    width: 100%;
    padding: 2%;
}
.textSettings .previewText{
    width: 100%;
    padding: 2%;
    background-color: gray;
    border: 2px solid black;
    border-radius: 15px;
    color: white;
}
.simulation-container .buttons .start:hover,
.simulation-container .buttons .stop:hover,
.simulation-container .buttons .aids:hover,
.speakButtons .speak:hover,
.speakButtons .dont_speak:hover,
.speakButtons .pause:hover,
.speakButtons .play:hover,
.avaialbleAids button:hover,
.textSettingsContainer .applyButton .applyChanges:hover,
.textSettingsContainer .applyButton .cancelChanges:hover{
    opacity: 0.8;
    transition: all 0.3s ease-in-out;
}